In [1]:
import kaggle
import pandas as pd
import zipfile
# importing libraries

In [2]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset
# getting dataset using kaggle api

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
zipfile_naam = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_naam, 'r') as file:
     file.extractall()
    # Files downloaded from kaggle will always be zipped. So, we need to extract its content file.

In [4]:
bikedf = pd.read_csv("london_merged.csv") # Extracted file is in csv and read into the dataframe "bikedf"

In [5]:
bikedf.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [6]:
bikedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [7]:
bikedf.shape

(17414, 10)

In [8]:
bikedf

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [9]:
bikedf.weather_code.value_counts()
# figuring weather categories and their respective number of data

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [10]:
bikedf.season.value_counts() # similarly finding season groups and their #of contents

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [11]:
#changing the column names for ease
new_cols_name_dict = { 
 'timestamp':'Time',
    'cnt':'Count',
    't1':'Real_temp_C',
    't2':'FeelsLike_C',
    'hum':'Humidity_percent',
    'wind_speed':' Wind_Speed_Kmph',
    'weather_code':'weather',
    'is_holiday':'On_Holiday',
    'is_weekedn':'On_Weekend',
    'season':'Season'
}
bikedf.rename(new_cols_name_dict, axis=1, inplace= True)

In [12]:
#Changing humidity to normalize percentage
bikedf.Humidity_percent= bikedf.Humidity_percent/100

In [13]:
#changing weather and season dtype to string
bikedf['Season']= bikedf['Season'].astype('str')
bikedf['weather']=bikedf['weather'].astype('str')

In [14]:
# Mapping weather and season data values to actual weather. In other words decoding weather and season data 
Weather_dict= {
    '1.0' :'Clear',
    '2.0':'scattered clouds few clouds',
    '3.0' : 'Broken clouds',
    '4.0': 'Cloudy' ,
    '7.0' : 'light Rain shower',
    '10.0' : 'rain with thunderstorm', 
    '26.0': 'snowfall',
    '94' : 'Freezing Fog'
}
Season_dict = {
    '0.0':'Spring',
    '1.0': 'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

In [15]:
bikedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              17414 non-null  object
 1   Count             17414 non-null  int64
 2   Real_temp_C       17414 non-null  float64
 3   FeelsLike_C       17414 non-null  float64
 4   Humidity_percent  17414 non-null  float64
 5    Wind_Speed_Kmph  17414 non-null  float64
 6   weather           17414 non-null  object
 7   On_Holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   Season            17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [16]:
#changing weather and season dtype to string
bikedf['Season']= bikedf['Season'].astype('str')
bikedf.Season= bikedf.Season.map(Season_dict) # mapping 
bikedf['weather']=bikedf['weather'].astype('str')
bikedf.weather=bikedf.weather.map(Weather_dict) # mapping

In [17]:
bikedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              17414 non-null  object
 1   Count             17414 non-null  int64
 2   Real_temp_C       17414 non-null  float64
 3   FeelsLike_C       17414 non-null  float64
 4   Humidity_percent  17414 non-null  float64
 5    Wind_Speed_Kmph  17414 non-null  float64
 6   weather           17414 non-null  object
 7   On_Holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   Season            17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [19]:
bikedf.head()

,Time,Count,Real_temp_C,FeelsLike_C,Humidity_percent,Wind_Speed_Kmph,weather,On_Holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [22]:
bikedf.to_excel('london_bikes_cleaned.xlsx', sheet_name='CleanedData')